<!-- templates/users.html -->
{% extends 'master.html' %}

{% block content %}
    <h1 class="col">الضيوف</h1>
    <hr>
    <div class="text-left">
      <a href="{{ url_for('export_to_excel') }}">حفظ كملف إكسل</a>
    </div>
    <table class="table table-striped table-responsive">

        <thead>
            <tr>
                <th>رقم التسجيل</th>
                <th>الإسم بالكامل</th>
                <th>رقم الجوال</th>
                <th>صلة القرابة</th>
                <th>السن</th>
                <th>الجنس</th>
                <th>المدينة</th>
                <th>تأكيد الحضور</th>
                <th>مقترحات</th>
                <th></th>              
            </tr>
        </thead>
        <tbody>
            {% for guest in guests.items %}
            <tr>
                <td>{{ guest.registration_number }}</td>
                <td>{{ guest.first_name }} {{ guest.father_name }} {{ guest.first_grand_name }} {{ guest.second_grand_name }} {{ guest.third_grand_name }} {{ guest.family_name }}</td>
                <td>{{ guest.phone_number }}</td>
                <td>{{ guest.relation }}</td>
                <td>{{ guest.age }}</td>
                <td>{{ guest.gender }}</td>
                <td>{{ guest.city }}</td>
                <td>{{ guest.attendance }}</td>
                <td>{{ guest.ideas }}</td>
                <td>
                    <a href="{{ url_for('delete_guest', guest_phoneno=guest.phone_number) }}">حذف</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <!-- Pagination controls -->
<div class="pagination">
    {% if guests.has_prev %}
        <a href="{{ url_for('admin', page=guests.prev_num) }}">
            <span class="material-symbols-outlined">chevron_left</span>
        </a>
    {% endif %}
    <span>{{ guests.page }} من {{ guests.pages }}</span>
    {% if guests.has_next %}
        <a href="{{ url_for('admin', page=guests.next_num) }}">
            <span class="material-symbols-outlined">chevron_right</span>
        </a>
    {% endif %}
</div>
<br>

{% endblock %}
