<!DOCTYPE html>
<html lang="ar" dir="rtl">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Cards</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='styles/cards.css') }}">
    </head>
    
    <body>
        <div class="sidebar">
            <div class="card-select">
                <label for="card-select">إختر البطاقة</label>
                <select id="card-select">
                    <option value="{{ url_for('card1') }}" {% if selected == '/card1' %}selected{% endif %}>بطاقة 1</option>
                    <option value="{{ url_for('card2') }}" {% if selected == '/card2' %}selected{% endif %}>بطاقة 2</option>
                </select>
            </div>

            <div class="font-select">
                <label for="card-select">إختر الخط</label>
                <select id="font-select">
                    <option style="font-family: 'Reem Kufi Fun', serif;" data-htmlfont="Reem Kufi Fun" data-localfont="ReemKufi-Bold.ttf">الخط الأول</option>
                    <option style="font-family: 'Alkalami', serif;" data-htmlfont="Alkalami" data-localfont="Alkalami-Regular.ttf">الخط الثاني</option>
                    <option style="font-family: 'Cairo', serif;" data-htmlfont="Cairo" data-localfont="Cairo-Bold.ttf">الخط الثالث</option>
                </select>
            </div>
        </div>
    </body>

    <script>
        document.getElementById('card-select').addEventListener('change', function() {
            var selectedPage = this.value;
                if (selectedPage) {
                    window.location.href = selectedPage + '?selected=' + selectedPage;
            }
        });
    </script>

    <script>
        document.getElementById('font-select').addEventListener('change', function () {
            var selectedOption = this.options[this.selectedIndex];
            var fontName = selectedOption.getAttribute('data-htmlfont');
            var localFont = selectedOption.getAttribute('data-localfont');
            var divToChange = document.getElementById('input-text');

            document.getElementById('localfont').value = localFont;

            divToChange.style.fontFamily = fontName;
        });
    </script>
</html>
