<div class="card_layout">
	<div class="card1" style="background-image: url({{ url_for('static', filename='card5.jpg') }});">
		<form method="POST" action="{{ url_for('download_card1') }}">
				<!-- <img src="{{ url_for('static', filename='card1.jpg') }}" alt="Image" style="max-width: 100%; height: 100% ;"> -->
				<input class="input-text" type="text" name="text" id="input-text" placeholder="أدخل أسمك هنا" style="font-family: 'Reem Kufi Fun'" >
				<input class="localfont" type="hidden" name="font" id="localfont">

				<button class="download-btn" type="submit">حفظ نسخه على الجهاز</button>
		</form>
	</div>
</div>
