<!DOCTYPE html>
{% extends 'base.html' %}

{% block content %}
    <div class="header">
        <div class="text-center font-weight-bold">ببالغ السرور يسرنا دعوتكم للحفل السنوي لأسرة السديس</div>
        <div class="text-center font-weight-bold">والذي سيقام بمشيئة الله في مدينة الرياض</div>
        <div class="text-center font-weight-bold">يوم الجمعة 24-7-1446هـ الموافق 24-01-2025م</div>
        <div class="text-center font-weight-bold">يبدأ البرنامج في قسم الرجال بعد صلاة الجمعة مباشرة الساعة 1 ظهراً</div>
        <div class="text-center font-weight-bold">يبدأ البرنامج في قسم النساء الساعة 8 مساءاً</div>
        <hr>
    </div>

    <h1 class="text-center text-danger">نعتذر لسيادتكم, فترة التسجيل إنتهت</h1>

{% endblock %}
