<!DOCTYPE html>
{% extends 'master.html' %}

{% block content %}
    <div class="header">
        <div class="text-center font-weight-bold">ببالغ السرور يسرنا دعوتكم للاجتماع السنوي لأسرة السديس</div>
        <div class="text-center font-weight-bold">والذي سيقام بمشيئة الله في مدينة الرياض</div>
        <div class="text-center font-weight-bold">يوم الجمعة 7-7-1445هـ الموافق 19-01-2024م في تمام الساعة 7:00 مساءً </div>
        <hr>
    </div>

<div class="container text-center">
    <form method="POST" action="/">
        {{ form.hidden_tag() }}
        <div class="form-group">
            <div class="text-info">
                <p> أدخل رقم الجوال لإتمام عملية التسجيل او لمراجعة بياناتك</p>
            </div>
            {{ form.phone_number(class="form-control text-center font-weight-bold fs-3-rem", placeholder="من فضلك أدخل رقم الهاتف الجوال", pattern="^0[0-9]{9,14}$"
, title="رقم الجوال يبدأ ب(صفر) و بحد أدنى 10 أرقام و بحد أقصى 15 رقم (أرقام فقط)", required="required") }}
        </div>
        <button type="submit" class="btn btn-primary">تسجيل</button>
    </form>
</div>
{% endblock %}
