<!DOCTYPE html>
{% extends 'base.html' %}

{% block title %}الصفحة الرئيسية - أسرة السديس{% endblock %}

{% block content %}
    <div class="header">
        <div class="text-center font-weight-bold">ببالغ السرور يسرنا دعوتكم للاجتماع السنوي لأسرة السديس</div>
        <div class="text-center font-weight-bold">والذي سيقام بمشيئة الله في مدينة الرياض</div>
        <div class="text-center font-weight-bold">يوم الجمعة 24-7-1446هـ الموافق 24-01-2025م</div>
        <div class="text-center font-weight-bold">يبدأ البرامج في القسم الرجالي بعد صلاة الجمعة مباشرة الساعة 1 ظهراً</div>
        <div class="text-center font-weight-bold">يبدأ البرامج في القسم النسائي الساعة 8 مساءاً</div>
        <hr>
        <div class="text-center font-weight-bold text-danger">السحب سيكون للحاضرين فقط</div>

    </div>

<div class="container text-center">
    <form method="POST" action="/" style="
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: stretch;
    gap: 20px;
">
        {{ form.hidden_tag() }}
        <div class="form-group">
            <div class="text-info">
                <p> أدخل رقم الجوال لإتمام عملية التسجيل او لمراجعة بياناتك</p>
            </div>
            {{ form.phone_number(class="form-control text-center font-weight-bold fs-3-rem", placeholder="من فضلك أدخل رقم الهاتف الجوال", pattern="^0[0-9]{9,14}$"
, title="رقم الجوال يبدأ ب(صفر) و بحد أدنى 10 أرقام و بحد أقصى 15 رقم (أرقام فقط)", required="required") }}
        </div>
        <button type="submit" class="btn btn-primary">تسجيل</button>
    </form>
</div>
{% endblock %}
