{% extends 'master.html' %}

{% block content %}
<div class="container text-center">
    <form method="POST" action="/">
        {{ form.hidden_tag() }}
        <div class="form-group">
            <div class="text-info">
                <p>أدخل رقم الجوال لإتمام عملية التسجيل</p>
            </div>
            {{ form.phone_number(class="form-control text-center font-weight-bold fs-3-rem", placeholder="من فضلك أدخل رقم الهاتف الجوال", pattern="^[0-9]{10,15}$", title="رقم الجوال بحد أدنى 10 أرقام و بحد أقصى 15 رقم (أرقام فقط)", required="required") }}
        </div>
        <button type="submit" class="btn btn-primary">تسجيل</button>
    </form>
</div>
{% endblock %}
