<!DOCTYPE html>
{% extends 'base.html' %}

{% block content %}
    <div class="header">
        <div class="text-center font-weight-bold">ببالغ السرور يسرنا دعوتكم للحفل السنوي لأسرة السديس</div>
        <div class="text-center font-weight-bold">والذي سيقام بمشيئة الله في مدينة الرياض</div>
        <div class="text-center font-weight-bold">يوم الجمعة 24-7-1446هـ الموافق 24-01-2025م</div>
        <div class="text-center font-weight-bold">يبدأ البرنامج في قسم الرجال بعد صلاة الجمعة مباشرة الساعة 1 ظهراً</div>
        <div class="text-center font-weight-bold">يبدأ البرنامج في قسم النساء الساعة 8 مساءاً</div>
        <hr>
    </div>

<div class="container text-center">
    <form action="{{ url_for('index') }}" method="GET">
        <div class="text-danger">
            <p class="font-weight-bold">هذا الرقم غير مسجل بالصندوق</p>
            <p class="font-weight-bold">يرجى التواصل مع واتس أب جوال الصندوق للتسجيل أولاً</p>
        </div>
        <hr>
        <button type="submit" class="btn btn-primary">العودة للصفحة الرئيسية</button>
    </form>
</div>
{% endblock %}
