<!DOCTYPE html>
{% extends 'base.html' %}

{% block title %}الجوائز - أسرة السديس{% endblock %}

{% block content %}
  <h2>الهدايا</h2>
  <form method="post">
    {{ filters.hidden_tag() }}
    <div class="border p-3 m-3 row ">
      <div class="col">
        {{ filters.family_name.label(class="form-label") }}
        {{ filters.family_name() }}
        <hr>
        {{ filters.gender.label(class="form-label") }}
        {{ filters.gender() }}
        </div>
      <div class="col">
        {{ filters.age.label(class="form-label") }}
        {{ filters.age() }}
        <div class="border p-3 shadow" style="border-radius: 5px;">
          <p>إختر التصفية المناسبة لعملية السحب القادمة ثم إضغط على 'إبدأ السحب' أمام الجائزة المختارة</p>
        </div>
      </div>
    </div>

  <table class="table table-bordered">
    <thead>
      <tr>
        <th>إسم الهدية</th>
        <th>الوصف</th>
        <th>رقم الفائز</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      {% for prize in prizes %}
        <tr>
          <td>{{ prize.name }}</td>
          <td>{{ prize.description }}</td>
          <td>{{ prize.guest_registration_number }}</td>
          <td>
            {% if not prize.is_next %}
              <a href="{{ url_for('edit_prize', id=prize.id) }}" class="btn btn-primary btn-sm">تعديل</a>
            {% else %}
              <span class="btn btn-primary btn-sm disabled">تعديل</span>
            {% endif %}
            <form action="{{ url_for('delete_prize', id=prize.id) }}" method="post" style="display: inline-block;">
              {% if not prize.is_next %}
                <button type="submit" class="btn btn-danger btn-sm" onclick="return confirm('هل أنت متأكد من الحذف؟')">حذف</button>
              {% else %}
                <span class="btn btn-danger btn-sm disabled">حذف</span>
              {% endif %}
            </form>

            {%if prize.guest_registration_number==None and not prize.is_next%}
              <button type="submit" class="btn btn-success btn-sm" style="width: 8em" name="prize_id" value="{{ prize.id }}">إبدأ السحب</button>
              <input type="hidden" name="action" value="start_draw">
            {%elif prize.guest_registration_number==None and prize.is_next%}
              <button type="submit" class="btn btn-primary btn-sm" style="width: 8em" name="prize_id" value="{{ prize.id }}">جاري السحب</button>
              <input type="hidden" name="action" value="end_draw">
            {%else%}
              <form action="{{ url_for('reset_prize', id=prize.id) }}" method="post" style="display: inline-block;">
                <button type="submit" class="btn btn-warning btn-sm" style="width: 8em" onclick="return confirm('هل أنت متأكد من إعادة التهيئة؟')">إعادة التهيئة</button>
              </form>
            {%endif%}
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
  <a href="{{ url_for('add_prize') }}" class="btn btn-success">إضافة</a>
</form>

{% endblock %}
