
.card_layout{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}

.card1{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    position: relative;
    /* flex: 5; */
    height: 70vh;
    width: 100%; 
    /* text-align:center;  */
    background-repeat: no-repeat; 
    background-position: center; 
    background-size: contain;
}

.card1 .download-btn {
    border: 1px #085E9D solid;
    border-radius: 10px 0 0 10px;
    padding-inline: 15px;
    padding-block: 3px;
    background-color: #ffffff9e;
    margin-bottom: 60px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
}

.card1 .download-btn span{
    font-size: xx-large;
    padding-inline: 10px;
    color: #085E9D;
}

.card1 .input-text {
    position: absolute;
    top: 435px; /* Adjust the pixel value as per your requirement */
    left: 60%;
    transform: translate(-50%, -50%);
    border: none;
    background-color: transparent;
    font-size: calc(2vw + 1.5vh);
    direction: rtl;
    text-align: center;
    color: #000
}

@media (max-width: 970px) {
    .card1 .input-text {
        top: 75%; /* Adjust the percentage value as per your requirement */
    }
}

@media (max-width: 470px) {
    .card1 .input-text {
        top: 70%; /* Adjust the percentage value as per your requirement */
    }
}

@media (max-width: 405px) {
    .card1 .input-text {
        top: 65%; /* Adjust the percentage value as per your requirement */
    }
}



.card2{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    position: relative;
    /* flex: 5; */
    height: 70vh;
    width: 100%; 
    /* text-align:center;  */
    background-repeat: no-repeat; 
    background-position: center; 
    background-size: contain;
}

.card2 .download-btn {
    border: 1px #085E9D solid;
    border-radius: 10px 0 0 10px;
    padding-inline: 15px;
    padding-block: 3px;
    background-color: #ffffff9e;
    margin-bottom: 60px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
}

.card2 .download-btn span{
    font-size: xx-large;
    padding-inline: 10px;
    color: #085E9D;
}

.card2 .input-text {
    position: absolute;
    top: 460px; /* Adjust the pixel value as per your requirement */
    left: 50%;
    transform: translate(-50%, -50%);
    border: none;
    background-color: transparent;
    font-size: calc(2vw + 1.5vh);
    direction: rtl;
    text-align: center;
    color: #000
}

@media (max-width: 970px) {
    .card2 .input-text {
        top: 75%; /* Adjust the percentage value as per your requirement */
    }
}

@media (max-width: 470px) {
    .card2 .input-text {
        top: 70%; /* Adjust the percentage value as per your requirement */
    }
}

@media (max-width: 405px) {
    .card2 .input-text {
        top: 65%; /* Adjust the percentage value as per your requirement */
    }
}


/* .sidebar{
    flex:1;
    display: flex;
    flex-direction: column;
    background-color: #085E9D;
    color: #fff;
    width: 100%;
    align-items: flex-start;
    justify-content: space-evenly;
} */

/* .card-select, .font-select{
    margin-top: -285px; 
}

.card-select select{
    width: 100%;
}

.font-select select{
    width: 100%;
} */

.sidebar label{
    display: block;
}

.sidebar label span{
    border: 1px solid #085E9D;
    border-radius: 50%;
    padding-inline: 5px;
    margin-left: 10px
}

.sidebar input[type="text"]{
    width: 60%;
    border: 1px solid #085E9D;
    border-radius: 5px;
    padding: 5px;
    margin: 5px 35px 15px 0px;
}

.font-select ul{
    list-style: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    margin: 0;
    padding: 0;
    width: 100%;
}

.font-select ul li{
    text-align: center;
    cursor: pointer;
}
